

// .message_received {
//     color : white;
//     font-weight: normal;
//     margin-left: 3vh;
//     background-color: gray;
//     padding: 10px;
//     border-radius: 8px;
//     margin-bottom: 10px;
//     max-width: 40%;
//     word-wrap: break-word;
//   }

  .message_received {
    color : black;
    background-color: white;
    font-weight: normal;
    font-family: Comic Sans MS;
    margin-left: 3vh;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 40%;
    word-wrap: break-word;
    box-shadow: 0px 0px 5px 2px rgba(176, 176, 176, 0.63);
    p{
      margin: 0;
    }
  }


  
  // .message_send {
  //   color : white;
  //   font-weight: bold;
  //   margin-left: 53%;
  //   background-color: blue;
  //   padding: 10px;
  //   border-radius: 8px;
  //   margin-bottom: 10px;
  //   max-width: 40%;
  //   word-wrap: break-word;
  // }

  .message_send {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 53%;
    background: linear-gradient(0deg, #6bb9ea 10%, #52b4d5 100%);
    color: #ffffff;
    font-family: Comic Sans MS;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    max-width: 40%;
    box-shadow: 0px 0px 5px 2px rgba(176, 176, 176, 0.63);
    p{
      margin: 0;
    }
  }

  .pusername {
    font-size: 20px;
    width: 100%;
    margin: 0;
    font-weight: bold;

  }
  .ptime{
    font-size: 8px;
    width: 100%;
    margin: 0 85% !important;
  }
  .pmesssage{
    margin: 0;
    font-size: 12px;
    word-wrap: break-word;
    font-family: "Noto Color Emoji", sans-serif;
  }