.home {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 86vh;
  /* background-color: #eca9a0; */
  border-radius: 10px;
  margin: 0;
  padding: 0;
}

.home-tchat {
  grid-area: 1 / 2 / 2 / 3;
  background: linear-gradient(0deg, #f7f7f7 27%, #e3e3e3 100%);
  /* border: red 10px solid; */
  overflow: auto;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  display: none;
}

.home-player {
  grid-area: 1 / 3 / 2 / 4;
  color: black;
  background-color: lightgray;
  padding: 20px;
}

.home-listplayer {
  background-color: white;
  overflow: auto;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(176, 176, 176, 0.63);
  p {
    margin: 20px 10px;
  }

  input {
    border-radius: 8px;
    width: 50%;
    margin: 10px;
    background-color: white;
    color: #000000;
    outline: none;
    height: 20px;
    border: 1px solid lightgray;
  }
}

.home-room {
  grid-area: 1 / 1 / 2 / 2;
  /* background-color: blue; */
  background-color: lightgray;
  color: black;
  overflow: auto;
  p {
    margin: 20px 10px;
  }
  padding: 20px;
}

.home-roomlist {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 50%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 2px rgba(176, 176, 176, 0.63);

  input {
    border-radius: 8px;
    width: 50%;
    margin: 10px;
    background-color: white;
    color: #000000;
    outline: none;
    height: 20px;
    border: 1px solid lightgray;
  }
}
